<!-- Required for every page-->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Title of the page (seen as text in the tab at the top of the screen in a browser)-->
        <title>DRAGON NAME - How to Own a Dragon Wiki</title>
    <!-- External CSS file(s) & JS Scripts -->
        <link rel="stylesheet" href="/Wiki/commonwiki.css">
        <script src="/Wiki/toc.js"></script>
        <script src="/Wiki/history.js"></script>
        <script src="/lang-loader.js"></script>
        <script src="/Wiki/wikiredirects.js"></script>
    <!-- Title of the page (seen as text in the tab at the top of the screen in a browser)-->
    </head>
<!-- End of required stuff for every page-->

    <body style="background-color: rgb(26, 26, 26); color: whitesmoke;">

        <div id="content" class="content">

            <div><h1>DRAGON NAME</h1></div>
            <p> <!-- Short Introduction to the dragon (1 paragraph, no more, no less.) -->
                <i><b>The DRAGON NAME</b></i> is a <b>SIZE-sized 
                <a class="redirect" onclick="RedirectToBoulderClass()">CLASS Class dragon</a></b> that appears
                in the <a class="redirect" onclick="RedirectToWikiMainPage()">How to Own a Dragon</a> Minecraft Mod. 
                This page contains every single bit of information there is to know about the dragon in game. 
                The subjects covered by this page are:
            </p>

            <div class="toc" id="toc" style="border: 5px whitesmoke;"><!-- Table of Contents -->
            </div>
    
            <table class="infotable">
                <tbody>
                    <tr>
                        <th style="text-align: center"><h1 style="line-height: 40px;"><b>DRAGON NAME</b></h1></th>
                    </tr>

                    <tr>
                        <th style="text-align: center"><img style="padding-left: 10px;" alt="Brown Gronckle in pose" src="/assets/Dragons/Gronckle.png" width="300" height="203"></th>
                    </tr>

                    <tr>
                        <td style="text-align: center"><h2 class="notoc" style="line-height: 0px;"><span><b>Information</b></span></h2></td>
                    </tr>

                    <tr>
                        <td><b>Class: <a class="redirect" onclick="RedirectToBoulderClass()">CLASS</a></b></td>
                    </tr>

                    <tr>
                        <td><b>Colors:</b>
                            <ul> <!-- Every possible color of the dragon in the mod-->
                                <li>Blue</li>
                                <li>Orange</li>
                                <li>Purple</li>
                                <li>Brown (doesn't spawn naturally)</li>
                            </ul>
                        </td>
                    </tr>

                    <tr>
                        <td><b>Size:</b>
                            <ul> <!-- Size measured in BlockBench -->
                                <li>Length: 3.7 Blockss</li>
                                <li>Width: 2 Blocks</li>
                                <li>Height: 2.2 Blocks</li>
                                <li>Wingspan: 6.2 Blocks</li>
                            </ul>
                        </td>
                    </tr>

                    <tr> <!-- Hitbox taken from MCreator entity file-->
                        <td><b>Hitboxes:</b> 2 x 2 x 2 Blocks</td>
                    </tr>

                    <tr>
                        <td><b>Preferred Food:</b>
                            <ul>    <!-- Food to give for either Breeding or Growing-->
                                <li>Stone</li>
                                <li>Deepslate</li>
                                <li>Cobblestone</li>
                                <li>Cobbled Deepslate</li>
                                <li>Sandstone</li>
                                <li>Andesite</li>
                                <li>Diorite</li>
                                <li>Granite</li>
                                <li>Cod</li>
                                <li>Salmon</li>
                            </ul>
                        </td>
                    </tr>

                    <tr>
                        <td><b>Spawn Biomes:</b>
                            <ul> <!-- Every possible biome the dragon can spawn in, with a link to the MC wiki page of said biome -->
                                <li><b><a rel="nofollow"href="https://minecraft.wiki/w/Plains">Plains</a></b></li>
                                <li><b><a rel="nofollow" href="https://minecraft.wiki/w/Plains#Sunflower_Plains">Sunflower Plains</a></b></li>
                                <li><b><a rel="nofollow" href="https://minecraft.wiki/w/Snowy_Plains">Snowy Plains</a></b></li>
                                <li><b><a rel="nofollow" href="https://minecraft.wiki/w/Windswept_Hills">Windswept Hills</a></b></li>
                                <li><b><a rel="nofollow" href="https://minecraft.wiki/w/Windswept_Hills#Windswept_Forest">Windswept Forest</a></b></li>
                                <li><b><a rel="nofollow" href="https://minecraft.wiki/w/Windswept_Hills#Windswept_Gravelly_Hills">Windswept Gravelly Hills</a></b></li>
                                <li><b><a rel="nofollow" href="https://minecraft.wiki/w/Mountains#Snowy_slopes">Snowy Slopes</a></b></li>
                                <li><b><a rel="nofollow" href="https://minecraft.wiki/w/Mountains#Stony_peaks">Stony Peaks</a></b></li>
                                <li><b><a rel="nofollow" href="https://minecraft.wiki/w/Beach#Stony_Shore">Stony Shore</a></b></li>
                                <li><b><a rel="nofollow" href="https://minecraft.wiki/w/Mountains#Grove">Grove</a></b></li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>Tameble:</b> <b>Yes</b>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: center">
                            <h2 class="notoc"><span><b>Known Dragons</b></span></h2>
                        </td>
                    </tr>
                    <tr> 
                        <td>
                            <ul> <!-- All Known Dragons of this seen in the movies & shows -->
                                <li>Meatlug</li>
                                <li>Shattermaster</li>
                                <li>Fishmeat</li>
                            </ul>
                        </td>
                    </tr>
                </tbody>
            </table>

            <h2>Spawning</h2>
                <p>The DRAGON NAME is a fairly common dragon. It usually spawns in groups of 4 in the following biomes:</p>
                    <ul> <!-- List of all the possible biomes this dragon can spawn in -->
                        <li>Plains</li>
                        <li>Sunflower Plains</li>
                        <li>Snowy Plains</li>
                        <li>Windswept Hills</li>
                        <li>Windswept Forest</li>
                        <li>Windswept Gravelly Hills</li>
                        <li>Snowy Slopes</li>
                        <li>Stony Peaks</li>
                        <li>Stony Shore</li>
                        <li>Grove</li>
                    </ul>
                <h3><span>Colors</span></h3>
                    <p>The DRAGON NAME can spawn in a variety of different colors, including:</p>
                    <ul> <!-- List of every possible color of the dragon in the mod -->
                        <li>Blue</li>
                        <li>Orange</li>
                        <li>Purple</li>
                        <li>Brown (Doesn't spawn naturally, will be elaborated on later in the development)</li>
                    </ul>
                    <p>The pictures of these versions can be found in the gallery at the bottom of this page</p>

                <h3><span>Drops</span></h3>
                    <p>When killed, the DRAGON NAME drops scales depending on their current growth stage.</p>
                    <table class="wikitable"> <!-- Amount of Scales dropped per growth stage in ratio and percentage -->
                        <tr>
                            <th>Stage</th>
                            <th>Amount of scales dropped:</th>
                        </tr>
                        <tr>
                            <td>Baby</td>
                            <td>0/1 (50% chance to drop a scale)</td>
                        </tr>
                        <tr>
                            <td>Juvenile</td>
                            <td>0/1 (50% chance to drop a scale)</td>
                        </tr>
                        <tr>
                            <td>Adolescent</td>
                            <td>0/1 (50% chance to drop a scale)</td>
                        </tr>
                        <tr>
                            <td>Fully Grown</td>
                            <td>0-2 (33% chance for nothing, 33% for 1 scale and 33% for 2 scales)</td>
                        </tr>
                    </table>

            <h2><span>Behaviour</span></h2>
                <p>DRAGON NAMEs are quite peaceful in general. They just wander around in groups, doing nothing. </p>
                <p>Their behaviour will be expanded on in a later update.</p>

            <h3><span>Taming & Riding</span></h3>
                <p>To tame a DRAGON NAME, right-click the DRAGON NAME a couple of times with one of the following items:</p>
                <ul> <!-- List of all possible items to give this dragon in order to tame it -->
                    <li>Stone</li>
                    <li>Cobblestone</li>
                    <li>Deepslate</li>
                    <li>Cobbled Deepslate</li>
                    <li>Sandstone</li>
                    <li>Andesite</li>
                    <li>Diorite</li>
                    <li>Granite</li>
                    <li>Cod</li>
                    <li>Salmon</li>
                </ul>
                <p>Then, if tamed, Right-click the DRAGON NAME with an empty hand to ride it.</p>
                <p>Note that you do not need a saddle to ride and control the DRAGON NAME. It is completely optional and so far 
                    completely cosmetic.
                </p>
            <h3><span>Breeding & Growing</span></h3>
                <p>To breed a DRAGON NAME, use one of the following items on a male and female DRAGON NAME and they'll create an egg. 
                    Put this egg into an Incubator, wait 30 seconds and then put a lava bucket in the bottom slot 
                    (the egg does not have to be taken out of the incubator) and click the "Hatch" button.
                </p>
                <p>After a DRAGON NAME has laid an egg, the Female will have a cooldown of 30 seconds. 
                    Luckily the male won't have a cooldown at all.
                </p>
                <p>Breed items:</p>
                    <ul> <!-- List of all possible items to give this dragon in order for it to breed -->
                        <li>Stone</li>
                        <li>Cobblestone</li>
                        <li>Deepslate</li>
                        <li>Cobbled Deepslate</li>
                        <li>Andesite</li>
                        <li>Diorite</li>
                        <li>Granite</li>
                        <li>Sandstone<br></li>
                    </ul>
                <p> When a DRAGON NAME egg hatches, a Baby DRAGON NAME spawns. 
                    The baby has a 50/50 chance to be either Male or Female, and a 50/50 chance to have the color of either parent. 
                    It will automatically be tamed by the person that hatched the egg.
                </p>
                <p>The DRAGON NAME has 4 Stages, Baby, Juvenile, Adolescent and Fully Grown. 
                    Every stage can take around 30 seconds to 2.5 minutes. At the end of every stage, 
                    the DRAGON NAME will ask for one of the items below. After you give the correct item to the DRAGON NAME, 
                    the next stage will spawn pre-tamed by the person that fed them the item.
                </p>
                <p>Possible items to give the DRAGON NAME to grow up when prompted:</p>
                    <ul> <!-- List of all possible items this dragon can ask for when it can advance a stage in growing-->
                        <li>Stone</li>
                        <li>Cobblestone</li>
                        <li>Deepslate</li>
                        <li>Cobbled Deepslate</li>
                        <li>Andesite</li>
                        <li>Diorite</li>
                        <li>Granite</li>
                        <li>Sandstone</li>
                        <li>Bucket of Lava</li>
                        <li>Iron Ingot</li>
                    </ul>
            <h2><span>Abilities</span></h2>
                <p>The DRAGON NAME has (as of alpha 0.0.6) only one ability, which is to fire a Fireball from it's mouth 
                    by pressing the ability keybind (R by default). 
                    This can be done up to 6 times in a row, after which the DRAGON NAME needs to "rest" for five minutes 
                    before it can fire again.
                </p>

            <div id="History">
                <script>
                    const headers = ["Version:", "Changes:"];
                    const data = [
                        ["0.0.1","Introduced"],

                        ["0.0.2","The Gronckle is now Breedable"],
                        ["","The Gronckle now has growing stages"],
                        ["", "Female Gronckles now lays an egg after breeding"],
                        ["", "Male and Female Gronckles are now seperate entities"],
                        ["", "Added Sandstone to the list of breeding items"],

                        ["0.0.3", "Added a GUI to the Gronckle"],
                        ["", "Added a fireball attack ability for the Gronckle"],
                        ["", "Added Gronckle Saddle"],
                        ["", "Tweaked the Gronckle's AI"],

                        ["0.0.4", "Fixed some bugs regarding the Gronckle"],

                        ["0.0.5", "Completely reworked the Gronckle's code"],

                        ["0.0.6", "Optimized the breeding"],
                    ];

                    generateHistory(headers, data);
                </script>
            </div>
        </div>

            <script>
                createTableOfContents();
            </script>
    </body>
</html>
    